td{
   width:100px;
   height: 100px;
   background-color: #ffc544;
   font-size: 50px;
   padding: 5px;
   color: #333;
   border: 5px solid #333;
    cursor: pointer;
}
tr{
    padding: 20xp;
}
table{
    margin: 20px auto;
    border-radius: 10px;
    color: white;
}
body{
    background-color:#333;
    font-family: 'Kalam';
    color: #ffc544;

}
hr{
    width: 30%;
    border: 1px solid #333;
}